<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv='Content-Type' />
  </head> 
  <body>
    <h1><%=I18n.t('email.forget_password_email.hello_content')%> <%= @user.name %>!</h1>
    <p><%=I18n.t('email.forget_password_email.alert')%></p>
    <a href="<%=I18n.t('email.forget_password_email.link',env_host: ENV['ENV_HOST'] ,api_key: @user.api_key)%>"><%=I18n.t('email.forget_password_email.link',env_host: ENV['ENV_HOST'] ,api_key: @user.api_key)%></a>
    <p><%=I18n.t('email.forget_password_email.bye_content')%></p>
  </body>
</html>