<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv='Content-Type' />
  </head> 
  <body>
    <h1><%=I18n.t('email.pedido_canceled_email.hello_content')%> <%= @user.name %>!</h1>
    <h1><%=I18n.t('
        email.pedido_canceled_email.content',
        id: @pedido.id.to_s,
        total_value: @pedido.total_value.to_s
    )%>
    <p><%=I18n.t('email.pedido_canceled_email.item_list')%></p>
    <ul>
      <% for @item in @item_list %>
        <li><%=I18n.t(
          'email.pedido_canceled_email.item',
          quantity: @item.quantity,
          unity_value: @item.unity_value,
          total_value: @item.total_value
        )%></li>
      <% end %>
    </ul>
    <p><%=I18n.t('email.pedido_canceled_email.bye_content')%></p>
  </body>
</html>