<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv='Content-Type' />
  </head> 
  <body>
    <h1><%=I18n.t('email.pedido_email.hello_content')%> <%= @user.name %>!</h1>
    <h1><%=I18n.t('
        email.pedido_email.content',
        id: @pedido.id.to_s,
        total_value: @pedido.total_value.to_s
    )%>
    <p><%=I18n.t('email.pedido_email.bye_content')%></p>
  </body>
</html>