<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv='Content-Type' />
  </head> 
  <body>
    <h1><%=I18n.t('email.signup_email.hello_content')%> <%= @user.name %>!</h1>
    <p><%=I18n.t('email.signup_email.bye_content')%></p>
  </body>
</html>