<h1><%=I18n.t('page.change_password_page.hello_content')%> <%= @user.name %>!</h1>
<p><%=I18n.t('page.change_password_page.alert')%></p>
<form method="POST" action="<%=I18n.t('page.change_password_page.post_url',env_host: ENV['ENV_HOST'], api_key: @user.api_key)%>">
      <label><%=I18n.t('page.change_password_page.password')%></label>
      <input type="password" name="password" required/>
      <label><%=I18n.t('page.change_password_page.verify_password')%></label>
      <input type="password" name="verify_password" required/>
      <button type="submit"><%=I18n.t('page.change_password_page.button_msg')%></button>
</form>
